*{
    margin: 0;padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body{
    width: 670px;height: 960px;
    border: 1px solid #aacdff;
    background-color: #fff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, .25);
    border-radius: 20px;
    position: relative;
    left: 50%;top: 60px;
    transform: translateX(-50%);
}
.container{
    width: 470px;height: 820px;
    margin: 70px 100px;
}

h2{
    color: #0068FF;
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    margin-bottom: 60px;
}

.info{
    border: none;
    margin-bottom: 45px;
}
.underline{
    width: 470px;
    border: 1px solid #cfcfcf;
    margin-bottom: 18px;
}

.gender{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.gender span{
    margin-right: 15px;
}

.check{
    text-align: center;
    margin-bottom: 20px;
}
button{
    color: #0068FF;
    width: 470px;height: 75px;
    border: 1px solid #0068FF;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
}
















